<%= render 'users/user', user: @user %>
<%= render 'books/book', book: @book_new %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td><%= image_tag @user.get_profile_image(100,100) %><br>
                <%= link_to current_user.name, user_path(current_user.id) %></td>
            <td><%= link_to book_path(@book) do %><%= @book.title %><% end %></td>
            <td><%= @book.body %></td>
            <% if @user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-danger" %></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
